/* =======================================================
Basic setup */
/* Primary : #348feb;
Primary light : #72b1f1
Primary dark : #115ca9 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  color: #777;
}
/* =======================================================
Reusable component */
.row {
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  font-size: 240%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: gold;
}
h2 {
  font-size: 180%;
  border-bottom: 1px solid #dddd;
  text-transform: uppercase;
  font-weight: 400;
  color: #348feb;
  margin-bottom: 30px;
  /* padding: 60px 0; */
}
h3 a {
  font-size: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: #72b1f1;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
p {
  margin-bottom: 10px;
}
/* =======================================================
Profile section */
.profile-section {
  height: 100vh;
  background-color: #777;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 23.8%;
  padding: 10px 15px;
}
.profile-section .col {
  margin-top: none;
}
.profile-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.social-menu {
  padding-top: 60px;
}
.social-menu ul {
  list-style: none;
}
.social-menu ul li {
}
.social-menu ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s;
}
.social-menu a:hover {
  background-color: #348feb;
}
/* =======================================================
content */
.content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}
article {
  padding-bottom: 35px;
}
article h3 a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
}
article h3 a:hover {
  color: #348feb;
}
/* =======================================================
Sidebar */
.sidebar {
  background-color: #f4f4f4;
  position: fixed;
  right: 0;
  top: -12px;
  height: 100vh;
  width: 28%;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li a {
  text-decoration: none;
  display: block !important;
  color: #777;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
/* =======================================================
Reusable component */

/* =======================================================
Reusable component */

/* =======================================================
Reusable component */

/* =======================================================
Reusable component */
